.footer {
  background-color: $color-dark;
  padding-top: 45px;
  color: $color-light;
  ul {
    list-style: none;
    color: $color-gray;
    padding: 0;
    a {
      color: #777777;
      &:hover,
      &:focus {
        color: $color-light;
      }
    }
  }

  &-fifth {
    margin: 20px 0;
    text-align: center;
  }
  a {
    color: #fbfbfb;
  }
}
