.main {
  @extend %margin-bottom-lg;
  .site-search {
    margin-bottom: $gap * 3;
  }
  .user-login {
    margin-bottom: $gap * 4;
  }
}



.new-films,
.top-week {
  &-row {
    margin-right: -$gap / 2;
    margin-bottom: -$gap;
    margin-left: -$gap / 2;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap / 2;
    padding-left: $gap / 2;

    &__caption {
      text-align: center;
    }

    &__title {
      margin: 0;

      font-family: inherit;
      font-size: 1rem;
      font-weight: bold;

      @include text-shortener;
    }

    &__thumbnail {
      margin-bottom: 0;
    }
    &:hover,
    &:focus {
      .new-films-item__title,
      .top-week-item__title {
        color: $color-light;
      }
      .new-films-item__thumbnail,
      .top-week-item__thumbnail {
        border-color: $color-accent;
        background-color: $color-accent;
      }
    }
  }
}

.film-news-item {
  h3 {
    font-family: inherit;
  }
  &__thumbnail {
    float: left;

    max-width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  &__image {
    width: 100%;
  }
  &__text {
    text-align: justify;
    p {
      margin: 0 0 10px;
    }
  }
  &__button {
    float: right;

    margin-bottom: 30px;

    transition: background-color 0.25s;
  }
  &:hover,
  &:focus {
    h3 a {
      color: $color-accent;
    }
    .film-news-item__thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }
    .btn-warning {
      background-color: $color-accent;
    }
  }
}
